openapi: 3.0.3
info:
  title: DOKUMEN API GIS MAYLINDA- OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://github.com/maylindachristy/swaggermay
  contact:
    email: maylindachristy@gmail.com
  license:
    name: Maylinda Backend
    url: https://pkg.go.dev/github.com/maylindachristy/backendmay
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/maylindachristy/backendmay
servers:
  - url: https://asia-southeast2-t-decoder-401501.cloudfunctions.net
tags:
  - name: Create GIS
    description: Data Geo Spasial
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/maylindachristy/backendmay
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/maylindachristy/backendmay
  - name: user
    description: Get Token and Authorize
paths:
  /function-auth:  # Penambahan endpoint Create GIS
    post:
      tags:
        - Create GIS
      summary: Create GIS Data
      description: Add new GIS data
      operationId: createGIS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peta' # Gunakan skema yang sesuai di sini
      responses:
        '201':
          description: Data successfully created
        '400':
          description: Invalid input or request body
      security:
        - SECRET:
            - write:apiKey
            - read:SECRET
               
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
          example: "Feature"
        properties:
          type: object
          properties:
            name:
              type: string
              example: "LOCATION"
        geometry:
          type: object
          properties:
            coordinates:
              type: array
              example: [[125.6, 10.1]]
            type:
              type: string
              example: "Point"
  securitySchemes:
    SECRET:
      type: apiKey
      name: SECRET
      in: header
